$width: 1226px;
$text-color: #333;
$text-color2: #424242;

$main-theme-color: #ff6700;

@mixin box-shadow {
    box-shadow: 5px 5px 5px rgba(53, 24, 24, 0.5);
    transition: all 0.5s;
}

@mixin text-shadow {
    text-shadow: 5px 5px 5px rgba(53, 24, 24, 0.5);
}